<launch>
	<master auto="start"/>
	<!-- PLATFORM SPECIFIC -->
	<!-- NAVIGATION -->
	<node pkg="gmapping" type="slam_gmapping" respawn="false"
		name="slam_gmapping" output="screen">
		<param name="map_update_interval" value="2.0"/>
		<param name="maxUrange" value="6.0"/>
		<param name="iterations" value="1"/>
		<param name="linearUpdate" value="0.25"/>
		<param name="angularUpdate" value="0.262"/>
		<param name="temporalUpdate" value="-1.0"/>
		<param name="particles" value="300"/>
		<param name="xmin" value="-50.0"/>
		<param name="ymin" value="-50.0"/>
		<param name="xmax" value="50.0"/>
		<param name="ymax" value="50.0"/>
		<param name="base_frame" value="base_link"/>
	</node>
</launch>
