
<launch> 

   <include file="$(find rplidar_ros)/launch/rplidar.launch" ></include>

   <node pkg="usb_cam" type="usb_cam_node" name="usb_cam_node">
   <param name="camera_name" value="head_camera"/>
   <param name="camera_frame_id" value="head_camera"/>
   <param name="camera_info_url" value="file://$(find athena_vision)/config/cam.yaml"/>
   </node>

   <node pkg="tf" type="static_transform_publisher" name="cam_broadcast" args="0.02 0 1.12 0 0 0 1 base_link head_camera 100" />
   <node pkg="tf" type="static_transform_publisher" name="laser_broadcast" args="0.05 0 0.18 3.1415 0 0 base_link laser 100" />
   <node pkg="tf" type="static_transform_publisher" name="kinect_broadcast" args="0.06 0 0.42 0 0 0 1 base_link /camera_link 100" />

</launch>
